<launch>
  <arg name="rosbag_location" default="/data/Backup/Bags/Drive/drive_2017-11-18-14-43-48_bosch_big_track_1.bag"/>
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(arg rosbag_location)"/>
  <include file="$(find drive_ros_image_recognition)/launch/warp_image.launch">
    <arg name="output_image_type" value="16"/>
  </include>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/camera/image_raw"/>
  </node>
  <node name="extract_warped" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/warped_image"/>
    <param name="filename_format" value="warped_frame%04d.jpg"/>
  </node>
</launch>
